* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    background-color:#262625;
    display:flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}



#app {
    display:block;
    width:90%;
    left:5%;
    max-width: 400px;
    height:auto;
    background-color:#1a1a19;
    flex:1;
    text-align: center;
}


.title {
    position: relative;
    display:block;
    color:#ffffff;
    border-bottom:1px solid #363634;
    margin:0 2em;
    padding:2em;
}

.title h1 {
    font-size: 1.2em;
}

.status {
    position: relative;
    display:block;
    color:#7a7a79;
    padding:2em;
    margin:0 2em;
}

.status p {
    font-size: 0.9em;
}



ul {
    list-style: none;
    text-align: left;
    padding:2em;
}

ul li {
    color:green;
    padding:1em 0;
    border-bottom:1px solid #363634;
}

form {
    display:flex;
    margin:1em 2em;
    justify-content:space-between;
    align-items: flex-start
}


input[type=text] {
    appearance: none;
    background-color:#0d0d0c;
    border:none;
    position: relative;
    color:#7a7a79;
    padding:1em;
    font-size: 1em;
}

button {
    padding:1em;
    font-size: 1em;
    background-color:#e6e6e3;
    border:none;
    text-transform: uppercase;
    border-radius: 3px;
   
}